* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

/* navbar section */
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d3d3d3;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background-color: white;
  z-index: 1000;
}

.navbar-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links a,
.logo a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover {
  border-bottom: 3px solid black;
  /* background-color: rgb(223, 251, 219); */
}

.nav-links a:active {
  border-bottom: 2px solid black;
  /* background-color: rgb(223, 251, 219); */
}

#navbar.scrolled {
  background-color: #808080;
  color: white;
  box-shadow: 0px 4px 7px #777;
  border-bottom: 1px solid #777;
}

#navbar.scrolled a:hover {
  border-bottom: 2px solid #d3d3d3;
}

.burger-menu {
  display: none;
}

.hide {
  display: none;
}

/* hero section */
.hero-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 80%;
  height: 500px;
  border-radius: 10px;
  margin-top: 40px;
}

/* Popular Section */
.popular-section {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: auto;
}

.popular-group {
  width: 100%;
  display: flex;
  gap: 40px;
}

.popular-images {
  width: 33.3%;
  height: 200px;
  border-radius: 10px;
}

.popular-images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.popular-p1 {
  position: absolute;
  color: white;
  top: 865px;
  left: 19%;
  font-size: 18px;
}

.popular-p2 {
  position: absolute;
  color: white;
  top: 865px;
  right: 20%;
  font-size: 18px;
}

.popular-p3 {
  position: absolute;
  color: white;
  top: 865px;
  right: 48%;
  font-size: 18px;
}

/* services section */
.services-container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 50px;
}

.services-header {
  margin-top: 30px;
}

.services-header h4 {
  font-size: 20px;
}

.services-details {
  width: 100%;
  display: flex;
  display: row;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.service-left-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.service-left-image img {
  width: 100%;
  height: 450px;
  background-color: gray;
  border-radius: 10px;
}

.service-group {
  width: 50%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.service-image {
  width: 250px;
  height: 49%;
  background-color: green;
  border-radius: 10px;
}

.service-image img {
  width: 250px;
  height: 100%;
  border-radius: 10px;
}

/* review section */
.review-container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.review-container h3 {
  margin-top: 20px;
}

.review-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.review-item {
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 7px #777;
  gap: 10px;
  color: #808080;
}

.review-card-header {
  width: 280px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.review-card-image {
  width: 34px;
  height: 34px;
  border-radius: 50px;
}

.review-card-body p {
  width: 280px;
}

.controls {
  display: none;
}

/* contact section */
.contact-container {
  /* width: 100%; */
  height: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/images/contact_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form input {
  width: 97%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.contact-button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.form-container h4 {
  font-size: 18px;
}

/* footer section */
footer {
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.aboutus,
.contactinfo,
.footerLinks,
.newsletter {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutus p {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  color: #333;
}

.contactinfo ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactinfo ul li {
  color: #333;
  list-style: none;
}

.footerLinks ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #333;
}

.footerLinks ul li {
  list-style: none;
}

.newsletter h4 {
  width: 70%;
}

.newsletter p {
  display: flex;
  flex-wrap: wrap;
  color: #333;
}

.footerForm {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.formInput {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 0;
}

.footerForm button {
  width: 34%;
  height: 30px;
  color: white;
  border: none;
  background-color: red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -100px;
  padding: 0;
}

.footer-bottom {
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #333;
}

.bottom-centent {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  color: #333;
}

.social-icons {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
  /* background-color: blue; */
  /* border-radius: 10px; */
}

/* Mobile View  */
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: -16px;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    top: 3.8rem;
    left: 20px;
    background-color: #777;
    font-weight: 600;
    gap: 10px;
  }

  .mobile-menu a {
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    color: black;
  }

  .mobile-menu a:hover {
    background-color: white;
    border-radius: 5px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-right: -15px;
  }

  .burger-menu img {
    width: 25px;
    height: 20px;
  }

  .nav-links {
    display: none;
  }

  .hide {
    display: none;
  }

  /* Hero Section */
  .hero-container {
    width: 100%;
    height: 250px;
  }

  .hero-image {
    width: 100%;
    height: 300px;
    border-radius: 0;
  }

  /* Popular Section */
  .popular-section {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
    margin-top: 80px;
  }

  .popular-group {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .popular-images {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
  }

  .popular-images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .popular-p1 {
    position: absolute;
    color: white;
    top: 470px;
    left: 38%;
    font-size: 18px;
  }

  .popular-p2 {
    position: absolute;
    color: white;
    top: 700px;
    /* bottom: 50%; */
    right: 40%;
    font-size: 18px;
  }

  .popular-p3 {
    position: absolute;
    color: white;
    top: 950px;
    /* bottom: 50%; */
    right: 42%;
    font-size: 18px;
  }

  /* services section */
  .services-container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .services-header {
    margin-top: 30px;
  }

  .services-header h4 {
    font-size: 20px;
  }

  .services-details {
    width: 90%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .service-left-image {
    display: none;
  }

  .service-left-image img {
    width: 100%;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
  }

  .service-group {
    width: 100%;
    height: 450px;
    gap: 10px;
  }

  .service-image {
    width: 100%;
    height: 49%;
    background-color: green;
    border-radius: 10px;
  }

  .service-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  /* review section */
  .review-container {
    width: 100%;
    gap: 40px;
    height: auto;
  }

  .review-group {
    display: flex;
    flex-direction: column;
  }

  /* form {
    width: 100%;
  } */

  /* contact section */
  .contact-container {
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/images/contact_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  form input {
    width: 92%;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  .contact-button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
  }

  .form-container h4 {
    font-size: 18px;
  }

  /* Footer Section */
  footer {
    width: 100%;
    height: max-content;
    background-color: black;
  }

  .footer-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 30px;
    gap: 40px;
  }

  .aboutus,
  .contactinfo,
  .footerLinks,
  .newsletter {
    width: 100%;
  }

  .aboutus p {
    width: 80%;
  }

  .newsletter h4 {
    width: 70%;
  }

  .newsletter p {
    width: 60%;
  }

  .footerForm {
    width: 80%;
  }

  .formInput {
    width: 80%;
    margin-left: -35px;
  }

  .footer-bottom {
    width: 95%;
  }

  .footer-hr {
    margin-top: 10px;
  }

  .bottom-centent {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    display: none;
  }
}
